<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대화창 레이아웃</title>
    <link rel="stylesheet" href="../static/css/rule_chat.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="https://i.ibb.co/DWRWkFh/logo.png " alt="ChatBoard" onclick="window.location.href='/chatboard/main-page'" style="cursor:pointer;" class="logo">
            <div class="round-frame" id="scriptFrame">
                
            </div>
            
        </div>  
        <div class="chatbox">
            <!-- ChatBox의 상단은 메세지 부분-->
            <div class="messages" id="messages">
                <!-- 대화 내용이 여기에 추가됩니다 -->
                <div class="message partner">
                    <img src="https://i.ibb.co/W0wQy5Z/icon.png" alt="ICON">
                    <div class="message-content">안녕하세요! 어떻게 도와드릴까요?</div>
                </div>
                <div class="message partner">
                    <img src="https://i.ibb.co/W0wQy5Z/icon.png" alt="ICON">
                    <div class="message-content">다음과 같이 질문해보세요!<br>{{name}} 게임의 규칙은 뭐야?</div>
                </div>
                <!-- 더 많은 메시지를 추가할 수 있습니다 -->
            </div>
            <!-- 투명블럭으로 아래 공간 띄우기-->
            <div style="background-color: rgba(0,0,0,0); height: 50px;"></div>
            <!-- input-container를 messages 하단에 위치시킵니다 -->
            <div class="input-container">
                <div id="notification" class="notification">
                    <span>플레이 하고 있는 인원 수를 정해 주세요</span>
                    <select id="howMany">
                        <option value="0">상관 없음</option>
                        <option value="1">1인</option>
                        <option value="2">2인</option>
                        <option value="3">3인</option>
                        <option value="4">4인</option>
                        <option value="5">5인</option>
                        <option value="6">6인</option>
                        <option value="7">7인</option>
                        <option value="8">8인</option>
                        <option value="9">9인</option>
                    </select>
                    <button id="applyButton">확인</button>
                </div>
                <button id="fileAttach">파일</button>
                <input type="file" id="fileInput" name="file" style="display: none;">
                <input type="text" id="messageInput" placeholder="해당 게임에 대해 질문 하고 싶은 내용을 입력 해주세요!" />
                <button id="sendButton">전송</button>
            </div>
        </div>
    </div>
    <script src="../static/js/rule_chat.js"></script>
    <script src="../static/js/rule_chat_anim.js"></script>
</body>
</html>

